<!-- full logo version with slogan, icon and text, add the class .ts-full if you want to work with some of the existing CSS -->
<style type="text/css">

     .title-full{
        margin-right: 20%;
        margin-left: 30%;
    }
    .icon-img{
        width: 150px;
        height: 150px;
        float: left;
    }
    .yelilab-hold{
        padding-top: 20px;
    }
    .yeli-lab{
        font-style:italic;
        font-size: 50px;
        font-weight: 900;
        margin: 0px;
    }
    .lab-desc{
        margin: 0px;
    }

</style>


<div class="title-full">

        <img src="http://upload-images.jianshu.io/upload_images/1271438-a2a58162684a9b36.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" class="icon-img">
        <div class="yelilab-hold">
            <p class="yeli-lab">业力实验室</p>
            <p class="lab-desc">Welcome to yeli-lab's blog！My website is publish at:http://yeli.photo</p>

        </div>
</div>