<meta charset="UTF-8">
<title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<meta name="keywords" content="户外,游记,摄影,摄像,编程,笔记,程序员,机器学习,ML,深度学习,成都,码农,iOS,python,Django,前端,博客,业力实验室,yeli.photo,Linux,叶业力,www.yeli.photo,微信公众号,拍照,露营,吉他,骑行"/>
<meta name="author" content="叶业力,yeliphoto@qq.com"/>
<meta name="copyright" content="业力实验室"/>
<meta http-equiv="Window-target" content="_top">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl | replace: '//', '/' }}/css/main.css">
<link rel="stylesheet" id="color-change" href="">
<link rel="stylesheet" id="switch-style" href="{{ site.baseurl | replace: '//', '/' }}/css/grid.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl | prepend: site.url | replace: '//', '/' }}/feed.xml">
<link rel="shortcut icon" href="{{ 'img/mylogo.ico' | prepend: site.baseurl }}"/>