
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
<span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_qzone">QQ空间</a>
<a class="jiathis_button_tsina">新浪微博</a>
<a class="jiathis_button_weixin">微信</a>
<a class="jiathis_button_douban">豆瓣</a>
<a class="jiathis_button_cqq">QQ好友</a>

</div>
<script type="text/javascript" >
var jiathis_config={
     url:window.location.href,
     summary:{{ content }},
     title:"{{ page.title }}",
     pic:"http://upload-images.jianshu.io/upload_images/1271438-542ac494fd8dd394.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240/format/jpg",
     ralateuid:{
        "tsina":"weibo.com/yeliphoto"
     },
     shortUrl:false,
     hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->