<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div class="content full">
                <div class="content-container">
                    <article>
                        {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                                <div class="video-container video-container-ajustment">
                                    {{ page.vimeo-embed }}
                                </div>
                            {% endif %}
                        {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "image" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ page.featimg }}">
                            {% endif %}
                        {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                                {{ page.audio-embed }}
                            {% endif %}
                        {% endif %}

                        <h2 class="post-title">
                            {{ page.title }}
                        </h2>
                        <div class="meta">
                            {% include author.html%} &bull;
                            {% if page.date %}
                             <span class="date">
                                Published on {{ page.date | date: '%B %d, %Y' }}
                            </span>
                            {% endif %}
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post-content">
                            {{ content }}
                        </div>

                        <div style="text-align:center">
                          <img style="width: 150px;height: 150px;" src="http://upload-images.jianshu.io/upload_images/1271438-542ac494fd8dd394.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240/format/jpg">
                          <p style="font:14px;margin-top:-10px;">欢迎关注业力实验室微信公众号</p>
                        <div>

                    </article>
                    <div class="post-nav">
                        {% if page.previous.url %}
                        <a class="btn next" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">下一页</span><span class="long"></span></a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="btn prev" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">上一页</span><span class="long"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        
    </body>
</html>
